{% extends "index.html" %}

{% block header_center%}

		<div class="header-up">
			<div class="container">
				<div class="row">
					<div class="col">
						<h3 class="text-light header-up-title">Max</h3>
					</div>
					<div class="col">
						<nav class="nav justify-content-center header-up-nav">
							<a href="#" class="nav-link">About</a>
							<a href="#" class="nav-link">Software/Projects</a>
							<a href="#" class="nav-link">Contact</a>
						</nav>
					</div>
				</div>
			</div>
		</div>

{% endblock %}

{% block main_content %}
	
	<h1>Hello</h1>

{% endblock %}